<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletsapp7</display-name>
<context-param>
	<param-name>driver_Class</param-name>
	<param-value>oracle.jdbc.OracleDriver</param-value>
</context-param>
<context-param>
	<param-name>driver_Url</param-name>
	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>
<context-param>
	<param-name>db_Username</param-name>
	<param-value>system</param-value>
</context-param>
<context-param>
	<param-name>db_Password</param-name>
	<param-value>ashish</param-value>
</context-param>
<servlet>
	<servlet-name>contextServlet</servlet-name>
	<servlet-class>com.ashsoft.servlets.ContextServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>contextServlet</servlet-name>
	<url-pattern>/context</url-pattern>
</servlet-mapping>
</web-app>